body, html {
    /* Need 100% in order for parents to have map fill the screen */
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Search Bar Styles */
#search-bar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 10px;
    height: 30px;
    width: 300px;
    background: white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
    display: flex;
}

#search-bar-filter {
    width: 70%;
    height: 30px;
    border: none;
    padding-left: 8px;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#search-bar-filter:focus {
}

#search-bar-button {
    background: #3368ff;
    width: 30%;
    height: 30px;
    border: 0;
    margin: 0;
    padding: 0;
    font: 400 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#search-bar-button:hover {
    background: #2955b3;
}

/* Search Results Styles */
#search-results {
    z-index: 1;
    position: fixed;
    top: 40px;
    left: 0;
    border: 5px;
    padding: 0;
    margin: 20px 10px;
    height: 600px;
    width: 300px;
    background: white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
    overflow-y: auto; /* scroll vertically */
    overflow-x: hidden; /* clip horizontally */
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#search-results-title {
    font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 30px;
}

#search-results-error {
    font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 5px;
}

#search-results-list {
     list-style-type: none;
     margin: 0;
     padding: 0;
}

.search-result-item {
    border-bottom: 1px solid lightgray;
    padding: 5px 5px 5px 10px;
}

.search-result-item:hover {
    background: #bce9ff;
}

.search-result-item-title {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.search-result-item-category {
    margin: 0;
    padding: 4px 0 0 0;
}

/* Map Marker Info Window Styles */
#info-window {
    margin: 0;
    padding: 0;
}

#info-name {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#info-category {

}
#info-body {
    margin-top: 10px;
} 

