body, html {
   /* Need 100% for parents to have map fill the screen */
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#maperror {
    position: static;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Search Bar Styles */
#search-bar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 0 0 8px;
    margin: 10px;
    height: 44px;
    width: 300px;
    background: white;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 2px;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Search Results Styles */
#search-results {
    z-index: 1;
    position: fixed;
    top: 44px;
    left: 0;
    padding: 0;
    margin: 20px 10px;
    height: 650px;
    width: 300px;
    background: white;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.4);
    overflow-y: auto; /* scroll vertically */
    overflow-x: hidden; /* clip horizontally */
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 2px;
    cursor: pointer;
}

#search-results-title {
    font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

#search-results-error {
    font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0;
}

#search-results-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search-result-item {
    border-bottom: 1px solid lightgray;
    padding: 5px 5px 5px 10px;
}

.search-result-item:hover {
    background: #bce9ff;
}

.search-result-item-title {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.search-result-item-category {
    margin: 0;
    padding: 4px 0 0 0;
}

/* Map Marker Info Window Styles */
#info-window {
    margin: 0;
    padding: 0;
}

#info-name {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#info-category {

}

#info-body {
    margin-top: 10px;
}